body {
    background-color: #f7eceb;
    color: #ffffff;
    margin: 0px;
}


.container-main {
  position: relative;
  background-image:url("/imgs/b1.jpg");
  background-repeat: no-repeat;
  background-size:100%;
  width: auto;
  height: 100vh;
  background-size: cover;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 6vw;
}


.title {
  position: absolute;
  top: 30%;
  left: 12%;
  font-size: 6vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(0, 0, 0);
}

.title p {
  font-family: 'Balsamiq Sans';
}

.typewrite {
  text-align: center;
  top: 60%;
  left: 50%;
  font-size: 4vw;
  color: rgb(0, 0, 0);
}

.noHover{
  pointer-events: none;
}

.container-services {
  margin: 0px;
  background-color: #c3eca7;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  display: inline-block;
  font-size: 2vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #000000;
}




/* .container-main h1 {
} */