* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    margin: 0;
    padding: 0;
    /* background-color: #e3eefb; */
    background-color: rgb(246, 215, 215);
    color: black;
    font-family: 'Oswald', sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.brand {
    display: flex;
}

.brand-icon {  
    margin: 10px;
    width: 55px;
    height: 15px;
}

.brand-title {
    font-size: 1.4rem;
    margin:  .5rem;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

.active, .navbar-links li:hover {
    background-color: gray;
}

.toggle-button {
    position: absolute;
    display: none;
    flex-direction: column;
    top: .75rem;
    right: 1rem;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{ 
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.header-item {
    display: flex;
    border: 0;
    background-image: url("/images/b2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .header-title {
    color: black;
    text-align: center;
    font-size: 5rem;
} */

.header-item img {
    width: 70%;

}


.header-item h1 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
}
.typewrite {
    text-decoration: none;
    text-align: center;
    top: 20%;
    left: 50%;
    font-size: 3rem;
    color: rgb(0, 0, 0);
}
  
.noHover{
    pointer-events: none;
}

.main-header {
    background-color: #f1f1f1;
    color: #000;
    height: 15vh;
    padding: 1.2rem;
    margin-bottom: 1%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

  .underline{
    width: 15%;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #f7941d;
  }

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
  }
 
 .brand-icon img {
    width: 100%;
  }

  img {
      width: 100%;
  }
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
  }
  
  .card h3 {
    margin-bottom: 2rem;
  }
  
  .card img {
    height: 400px;
  }
  
  .card > div {
    padding: 4rem;
  }
  
  .card:nth-child(even) img {
    order: 2;
  }
  
  
  .btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
  }
  
  .btn:hover {
    opacity: 0.8;
  }

.etcont {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    align-items: center;
}

  .footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    padding: 1.5%;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
 }

 .main-footer {
    position: relative;
    padding: 1.5%;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;

 }


.about-container {
    text-align: justify;
    box-shadow: -4px 7px 25px 0px rgba(0,0,0,0.25);
    position: relative;
    background-color: #ffffff;
    padding: 7rem;
    margin: 0rem 5rem 5rem 5rem;
}

.about-container h1 {
    text-align: center;
    padding-bottom: 2%;
    margin-top: -4rem;
}

.about-container p { 
    padding: 1rem 4rem;
}

.about-container ul {
    padding: 0rem 7rem;
}

.srvs {
   padding-left: 5rem;
}

.bt-cont {
    display: flex;
    justify-content: space-evenly;

}

.abt {
    display: flex;
    padding: 1.4rem;
    background-color: green;
    box-shadow: 0px 2px 25px -1px rgba(0,0,0,0.74);

}

.abt a {
    text-decoration: none;
}

.abt span {
    margin-top: 2%;
    margin-left: 10px;
}

.bt-cont img {
    width  : 25px;
    height : 25px;
}

@media (max-width: 700px) {
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }

    .active {
        background-color: gray;
    }
    .inactive {
        background-color: white;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .card {
        display: block;
      }

    
}

@media (max-width:480px) {
    .header-item h1 {
        text-align: center;
        font-size: 1.2rem;
    }  
}